@inherits LayoutComponentBase
<div>
    <FluentLayout>
        <LoginDisplay />
        <FluentHeader Class="siteheader" Appearance="Appearance.Accent">
            <a href="/">
                <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
                    <FluentAnchor Appearance="Appearance.Hypertext"
                        Href="https://dudhwalas.github.io/dudhwala" Target="_blank" Rel="noreferrer noopener"
                        title="@Constants.APP_NAME" aria-label="@Constants.APP_NAME">
                    <FluentIcon Value="@(Icon.FromImageUrl("/icon-transparent.png"))" Width="30px"  />
                    </FluentAnchor>
                </div>
            </a>
            <FluentSpacer Width="10"></FluentSpacer>
            <FluentLabel Typo="Typography.Header" >@Constants.APP_NAME</FluentLabel>
            <FluentSpacer></FluentSpacer>
            <div class="profile">
                <FluentButton BackgroundColor="var(--neutral-layer-4)" Title="Profile">
                    <FluentIcon Value="@(new Icons.Filled.Size20.PersonAccounts())" Title="Profile" />
                </FluentButton>
            </div>
        </FluentHeader>

        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <NavMenu />
            <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
                <div class="content">
                    @Body
                    <FluentToastProvider />
                    <FluentDialogProvider />
                    <FluentTooltipProvider />
                    <FluentMessageBarProvider />
                </div>
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white;")">
            <div class="version">
                <small>
                    Version: 1.0.0
                </small>
            </div>
            <FluentSpacer />
            <div class="copy">
                <small>@Constants.APP_NAME © 2024. All rights reserved.</small>
            </div>
        </FluentFooter>

    </FluentLayout>
</div>