@inject NavigationManager Navigation

@inherits LayoutComponentBase
<div>
    <FluentLayout>
        <FluentHeader Class="siteheader" Appearance="Appearance.Accent">
            <a href="/">
                <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
                    <FluentAnchor Appearance="Appearance.Hypertext" Href="https://dudhwalas.github.io/dudhwala"
                        Target="_blank" Rel="noreferrer noopener" title="@Constants.APP_NAME"
                        aria-label="@Constants.APP_NAME">
                        <FluentIcon Value="@(Icon.FromImageUrl("/icon-transparent.png"))" Width="30px" />
                    </FluentAnchor>
                </div>
            </a>
            <FluentSpacer Width="10"></FluentSpacer>
            <FluentLabel Typo="Typography.Header">@Constants.APP_NAME</FluentLabel>
            <FluentSpacer></FluentSpacer>
            <div class="profile">
                <AuthorizeView>
                    <Authorized>
                        <FluentButton id="btnOpenProfile" BackgroundColor="var(--neutral-layer-4)"  @onclick="() => _visibleL = !_visibleL" Title="Profile">
                            <FluentPersona 
                                Name="@(context?.User?.Identity?.Name ?? "")"
                                ImageSize="40px">
                            </FluentPersona>
                        </FluentButton>
                        
                        <FluentMenu Anchor="btnOpenProfile" @bind-Open="_visibleL">
                            <FluentMenuItem OnClick="@((e) => BeginLogOut())" >
                                <span slot="start">
                                    <FluentEmoji Value="@(new Emojis.Objects.Flat.Default.Locked())" Slot="start"/>
                                </span>
                                <FluentSpacer Width="5"></FluentSpacer>
                                Logout
                            </FluentMenuItem>
                        </FluentMenu>

                    </Authorized>
                    <NotAuthorized>
                        <FluentButton BackgroundColor="var(--neutral-layer-4)" Title="Login" @onclick="BeginLogIn" >
                            <FluentEmoji Value="@(new Emojis.Objects.Flat.Default.Locked())" Width="35px" />
                        </FluentButton>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </FluentHeader>

        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <AuthorizeView>
                <Authorized>
                    <NavMenu />
                </Authorized>
            </AuthorizeView>
            <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
                <div class="content">
                    @Body
                    <FluentToastProvider />
                    <FluentDialogProvider />
                    <FluentTooltipProvider />
                    <FluentMessageBarProvider />
                </div>
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white;")">
            <div class="version">
                <small>
                    Version: 1.0.0
                </small>
            </div>
            <FluentSpacer />
            <div class="copy">
                <small>@Constants.APP_NAME © 2024. All rights reserved.</small>
            </div>
        </FluentFooter>

    </FluentLayout>
</div>
@code{
    bool _visibleL;
   
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
    private void BeginLogIn()
    {
        Navigation.NavigateToLogout("authentication/login");
    }
}
